---
import Header from "@/components/Header.astro"
import GitHubSearchComponent from "../components/GitHubUser/index.tsx"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Github user search">
	<Header />

	<main class="relative w-full max-w-full">
		<section class="grid place-items-center">
			<article class="container_app">
				<GitHubSearchComponent client:load />
			</article>
		</section>
	</main>
</Layout>
