---
import "@fontsource/space-mono/400.css"
import "@fontsource/space-mono/700.css"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<div id="app">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	html {
		font-family: "Space Mono", monospace;
		@apply opacity-100 transition-opacity duration-200 ease-out;

		&.dark--active {
			@apply pointer-events-none opacity-0;
		}
	}

	body {
		@apply bg-light-400 text-light-300 dark:bg-dark-200 dark:text-dark-100;
	}

	#app {
		@apply mx-auto flex min-h-screen w-full max-w-screen-xl flex-col items-center justify-center gap-y-9 px-5 lg:px-10;
	}

	.container_app {
		@apply mx-auto w-full max-w-screen-md;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		font-family: inherit;
		background-color: transparent !important;
		border: 0px solid transparent;
		-webkit-text-fill-color: #2b3442;
		-webkit-box-shadow: 0 0 0px 1000px #fefefe inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	html.dark {
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		textarea:-webkit-autofill,
		textarea:-webkit-autofill:hover,
		textarea:-webkit-autofill:focus,
		select:-webkit-autofill,
		select:-webkit-autofill:hover,
		select:-webkit-autofill:focus {
			-webkit-text-fill-color: #fff;
			-webkit-box-shadow: 0 0 0px 1000px #1e2a47 inset;
		}
	}
</style>
